@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Karla:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

:root {
  --text: #0e0024;
  --background: #f9f5ff;
  --primary: #6317fd;
  --secondary: #fe7188;
  --accent: #fd8e3f;
  --gradient_h: linear-gradient(270deg, #6317fd 0%, #fe7188 100%);
  --gradient_v: linear-gradient(180deg, #fe7188 0%, #6317fd 100%);

  --text_n: #e9dbff;
  --background_n: #04000a;
  --primary_n: #4f02e8;
  --secondary_n: #8e0118;
  --accent_n: #c05102;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins Sans", sans-serif;
  background-color: var(--background);
}

header {
  display: inline-flexbox;
  position: relative;
  width: 100%;
  padding: 2% 2%;
  flex-direction: row;
  align-items: flex-start;
  background-image: var(--gradient_h);
}

header h1 {
  width: 100%;
  height: 100%;
  color: var(--background);
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header button {
  display: flex;
  padding: 0.8em 0.7em;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background: var(--text);
  color: var(--background);

  text-align: center;
  font-family: Poppins;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section_1 {
  display: inline-flex;
  align-items: flex-end;
  gap: 5%;
  color: var(--text);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  width: 100%;
  margin: 0;
}

h2 {
  color: #fd8e3f;
  font-family: Teko;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  margin: 0;
  margin-top: 24px;
}

.img_1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.round {
  width: 50%;
  height: 100%;
  border-radius: 74px;
  margin: 4%;
}

.section_2 {
  width: 1982px;
  height: 778px;
  flex-shrink: 0;
  background-image: var(--gradient_v);
}
